<p id="notice"><%= notice %></p>

<div class="container show-product">
<div class="row">
  <div class="col-md-6">
    <h1><%= @product.name %></h1>
    <p>
      <strong>Description:</strong>
      <%= @product.description %>
    </p>
    <p>Average Rating: <div class="rated" data-score= "<%= @product.average_rating %>"></div></p>
    <p>
      <strong>Colour:</strong>
      <%= @product.colour %>
    </p>
    <p>
      <strong>Price:</strong>
      <%= @product.price %>
    </p>
    <hr>
    <p>
      <%= form_tag "/payments/create" do %>
        <%= render partial: "shared/stripe_checkout_button" %>
      <% end %>
    </p>
      <% if can? :update, @product %>
        <button class="btn btn-default">
            <%= link_to 'Edit', edit_product_path(@product) %>
          </button>
      <% end %>

      <button class="btn btn-default">
        <%= link_to 'Back', products_path %>
      </button>
  </div><!-- End of first col -->
  <div class="col-md-6">
    <div class="img-responsive">
          <%= image_tag(@product.image_url, :class => 'img-thumbnail') %>
    </div>
  </div><!-- End of second col -->

<!-- <p>
  <strong>Image url:</strong>
  <%= @product.image_url %>
</p> -->




</div><!-- End of row -->

</div><!-- End of container -->

<%= render 'new_comment' %>
<%= render 'comments' %>
