<!DOCTYPE html>
<html>
<head>
  <title>Graz Custom Bikes</title>
  <!-- Typekit embed code -->
  <script src="https://use.typekit.net/tjf3rtq.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <!-- Bootstrap CDN -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
  <!-- Bootstrap for mobile responsive -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<header>
			<nav class="navbar navbar-inverse">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				            <span class="sr-only">Toggle navigation</span>
				            <span class="icon-bar"></span>
				            <span class="icon-bar"></span>
				            <span class="icon-bar"></span>
				        </button>
						<a class="navbar-brand" href="/">Graz Custom</a>
					</div>
					<div id="navbar" class="collapse navbar-collapse">
						
						<ul class="nav navbar-nav navbar-right">
							<li><a href="/static_pages/about">About Us</a></li>
							<li><a href="/products">Custom Bikes</a></li>
							<li><a href="/static_pages/landing_page">Gallery</a></li>
							<li><a href="/static_pages/contact">Contact</a></li>
							<li>
							  <% if user_signed_in? %>
							    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
							  <% else %>
							    <%= link_to('Login', new_user_session_path) %>
							  <% end %>
							 </li>
						</ul>

						<!-- <div class="navbar-form navbar-right"> -->
							<%= form_tag("/products", method: "get", :class => "navbar-form navbar-right") do %>
							<div class="form-group">
					            <%= text_field_tag :q, "", :class => "form-control form-reverse", placeholder:'Search' %>
					            <%= submit_tag("Search", :class => "btn btn-default btn-reverse") %>
					        </div>
					        <% end %>
=						<!-- </div> -->
						

					</div><!--/.nav-collapse -->
				</div>
				
			</nav>
		</header>
		<% if notice %>
			<div class="alert alert-info no-bottom" role="alert"><%= notice %></div>
		<% end %>
		<% if alert %>
			<div class="alert alert-danger no-bottom" role="alert"><%= alert %></div>
		<% end %>
	<!-- <h1>Welcome to Bike Graz</h1>
	<h2>Your source for used bikes in Graz, Austria</h2> -->

<%= yield %>

	<footer class="footer">
		<div class="container-fluid">
			<!-- <div class="row">
				<div class="col-md-4 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
					<h4>Site Navigation</h4>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="#">About Us</a></li>
						<li><a href="/products">Bikes</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</div>
					
				<div class="col-md-4 hidden-sm hidden-xs">
					<h4>Our Partners</h4>
					<ul>
						<li><a href="#">Harley Davidson</a></li>
						<li><a href="#">Ducati</a></li>
						<li><a href="#">BMW Motorcycle</a></li>
						<li><a href="#">Kawasaki</a></li>
						<li><a href="#">Honda</a></li>
					</ul>
				</div>
			</div> -->

			<div class="container">
				<div class="row">
				<div class="col-md-4 col-sm-8 col-sm-offset-2 col-xs-offset-2">
					<h4>Site Navigation</h4>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/static_pages/about">About Us</a></li>
						<li><a href="/products">Bikes</a></li>
						<li><a href="/static_pages/contact">Contact</a></li>
					</ul>
				</div>
				<div class="col-md-6 hidden-sm hidden-xs">
					<h4>Our Partners</h4>
					<ul>
						<li><a href="#">Harley Davidson</a></li>
						<li><a href="#">Ducati</a></li>
						<li><a href="#">BMW Motorcycle</a></li>
						<li><a href="#">Kawasaki</a></li>
						<li><a href="#">Honda</a></li>
					</ul>
				</div>
			</div>
			</div>

			<div class="copyright">
				<!-- <div class="container"> -->
					<div>
						<p>&copy;2016 Jose M. Ramos. AKA, The Aprentice</p>
						<div class="metal-emblem hidden-xs"></div>
					</div>
					
				<!-- </div> -->
			</div>

		</div><!-- End of container for footer -->

	</footer>

</body>
</html>
